* {
    box-sizing: border-box;
}

html {
    background-color: #002030;
    font-family: "Gill Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: #f2f2f2;
}

.portrait {
    max-width: 200px;
    border-radius: 50%;
}

.container {
    width: 80%;
    margin: auto;
}

.topnav {
    overflow: hidden;
    border-bottom: solid 1px #FFFFFF80;
    position: fixed;
    top: 0;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.topnav {
    background-color: rgba(0, 0, 0, 0.3);
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    color: steelblue;
}

footer {
    margin-top: 2em;
}

footer a {
    color: #f2f2f2;
    text-decoration: none;
}

#hero {
    display: flex;
    height: 60em;
    background-image: url(/resource/cover\ narrow.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
}

footer {
    background-color: #404040A0;
}


/**************************************
**************Slideshow****************
***************************************/

.slideshow-container {
    height: 600px;
    max-width: 900px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.slide {
    width: 100%;
    position: absolute;
    transition: 1s;
}

.slide img {
    width: 100%;
    object-fit: cover;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/**************************************
**********Project Portfolio************
***************************************/

.outer-flex {
    display: flex;
    flex-wrap: wrap;
}

.project-item {
    margin: 8px;
    width: calc(33% - 16px);
    /* padding: 10px; */
    background-color: white;
    position: relative;
    overflow: hidden;
}

.project-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ease 500ms;
    scale: 1.01;
}

.project-item:hover img,
.project-item:focus img {
    scale: 1.1;
}

@media screen and (max-width: 1600px) {
    .project-item {
        width: calc(33.33% - 16px);
    }
}

@media screen and (max-width: 1200px) {
    .project-item {
        width: calc(50% - 16px);
    }
}

@media screen and (max-width: 800px) {
    .project-item {
        width: calc(100% - 16px);
    }
}

.overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: ease-out 400ms;
    opacity: 0;
}

.project-item:hover>.overlay,
.overlay:hover,
.project-item:focus>.overlay,
.overlay:focus {
    transform: translate3d(0, 0, 0);
    opacity: 100%;
}

.over-overlay {
    text-align: center;
    padding: 1em;
    margin: -0.1em;
    background-color: rgba(0, 0, 0, 0.5);
    white-space: nowrap;
}

.over-overlay.bottom {
    margin-top: auto;
}

.over-overlay.top span {
    font-size: x-large;
}

.over-overlay.bottom span {
    font-size: larger;
}

a.button {
    font-size: larger;
    text-decoration: none;
    color: white;
    border: solid 1px white;
    padding: 2px 6px 2px 6px;
    white-space: nowrap;
}

a.button~a.button {
    margin-left: 10px;
}