<div>
    <div>
        <span *ngFor="let t of tiles">
            {{ t.index == playerX ? playerEmoji : t.emoji }}
        </span>
    </div>

    <p>
        <button (click)="left()" [disabled]="gameWon || gameLost">Left</button>
        <button (click)="jump()" [disabled]="gameWon || gameLost">Jump</button>
        <button (click)="right()" [disabled]="gameWon || gameLost">Right</button>
    </p>

    <p *ngIf="gameWon">🎉🏆 Victory! 🏆🎉</p>
    <p *ngIf="gameLost">🤮 Defeat! 🤮</p>

    <!-- <p>
        Internal game state:
        <br/>
        player pos: {{playerX}}
        <br/>
        game over: {{gameOver}} 
    </p> -->
</div>