<div>
    <div>
        <span *ngFor="let t of tiles">
            {{ t.index == playerX ? "🤓" : t.emoji }}
        </span>
    </div>

    <p>
        <button (click)="left()" [disabled]="gameOver">Left</button>
        <button (click)="jump()" [disabled]="gameOver">Jump</button>
        <button (click)="right()" [disabled]="gameOver">Right</button>
    </p>

    <p *ngIf="gameOver">🎉🏆 Victory! 🏆🎉</p>

    <!--
    <p>
        Internal game state:
        <br/>
        player pos: {{playerX}}
        <br/>
        game over: {{gameOver}} 
    </p>
    -->
</div>